<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Cuochi</title>
	<link rel="stylesheet" href="/css/styles_co_re_in.css?v=1.4" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>
	<nav class="nav-bar">
		<a id="home-button" href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<div class="search-bar">
			<div class="search-box">
				<form th:action="@{/formSearchCooks}" method="post">
					<input id="search-input" type="text" th:value="${name}" name="name"
						placeholder="Cerca un cuoco..." />
				</form>
			</div>
		</div>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register">
						Registrati</a>
					<a th:unless="${userDetails}" class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<h1 class="title">Tutti i nostri cuochi</h1>
	<div style="display: flex; justify-content: center; font-size: larger; margin: 2rem;" th:if="${cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>

	<div class="container">
		<div id="div-princ-cooks" class="div-princ" th:each="cook : ${cooks}">
			<div>
				<a th:href="@{'/cook' + '/' + ${cook.id}}">
					<img class="img-cooks" th:src="@{/images/__${cook.urlImage}__}">
				</a>
				<h2 class="text" th:text="${cook.name} + ' ' + ${cook.surname}"></h2>
			</div>
			<div id="nascita">
				<br>
				<div style="font-size: larger; text-align: center;">Nato il:</div>
				<span th:text="${#temporals.format(cook.year, 'dd-MM-yyyy')}"></span>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div id="account-form">
			<div id="accountform-text">
				<h3 class="contact-text">Problemi con il sito?</h3>
				<p class="contact-text">
					Puoi contattarci cliccando
					<a href="/formContact" style="color: black;">qui</a>
				</p>
			</div>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img class="socials-img" src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img class="socials-img" src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img class="socials-img" src="/images/logoX.png"></img>
			</a>
		</div>
	</footer>

	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>
</body>

</html>