<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Film</title>
	<link rel="stylesheet" href="/css/styles_cooks.css?v=1.4" />
</head>

<body>
	<nav class="nav_bar">
		<div>
			<a href="/">
				<img class="icons_home" src="/images/home.svg"></img>
			</a>
		</div>
		<li>
			<a class="ali" href="/recipe">Ricette</a>
		</li>
		<li>
			<a class="ali" href="/cook">Cuochi</a>
		</li>
		<!-- Search Bar start -->
		<div class="search-bar">

			<!-- Search box input start -->
			<div class="search-box">
				<input type="text" id="search-input" placeholder="Cerca qualcosa..." />
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<!-- Search box input ends -->
		</div>
		<!-- Search Bar ends -->
		<div>
			<a href="/login">
				<img class="icons_login" src="/images/account.svg"></img>
			</a>
		</div>
	</nav>

	<h1>Cuochi</h1>
	<div th:if="${cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>

	<div class="container2">
		<div class="div_princ" th:each="cook : ${cooks}">

			<a th:href="@{'/cook' + '/' + ${cook.id}}">
				<img class="img" th:src="${cook.urlImage}">
			</a>

			<h2 class="text" th:text="${cook.name} + ' ' + ${cook.surname}"></h2>
		</div> <!-- class div_princ -->
	</div> <!-- class container -->



</body>

</html>