<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Cuochi</title>
	<link rel="stylesheet" href="/css/styles_cooks.css?v=1.4" />
</head>

<body>
	<nav class="nav_bar">
		<div>
			<a href="/">
				<img class="icons_home" src="/images/home.svg"></img>
			</a>
		</div>
		<li>
			<a class="ali" href="/recipes">Ricette</a>
		</li>
		<li>
			<a class="ali" href="/cooks">Cuochi</a>
		</li>
		<li>
			<a class="ali" href="/ingredients">Ingredienti</a>
		</li>
		<!-- Search Bar start -->
		<div class="search-bar">

			<!-- Search box input start -->
			<div class="search-box">
				<form th:action="@{/formSearchCooks}" method="post">
					<input id="search-input" type="text" th:value="${name}" name="name"
						placeholder="Cerca un cuoco..." />
				</form>
			</div>
			<!-- Search box input ends -->
		</div>
		<!-- Search Bar ends -->
		<div>
			<a href="/login">
				<img class="icons_login" src="/images/account.svg"></img>
			</a>
		</div>
	</nav>

	<h1>Cuochi</h1>
	<div th:if="${cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>

	<div class="container">
		<div class="div_princ" th:each="cook : ${cooks}">

			<a th:href="@{'/cook' + '/' + ${cook.id}}">
				<img class="img" th:if="${cook.urlImage.startsWith('https')}" th:src="${cook.urlImage}">
				<img class="img" th:unless="${cook.urlImage.startsWith('https')}"
					th:src="@{/images/__${cook.urlImage}__}">
			</a>

			<h2 class="text" th:text="${cook.name} + ' ' + ${cook.surname}"></h2>
		</div> <!-- class div_princ -->
	</div> <!-- class container -->

	<footer class="footer">
		<div id="accountForm">
			<h4 class="accountform-text">Vuoi aggiungere una ricetta?</h4>
			<a href="/register"> Registrati qui! </a>
			<h4 class="accountform-text">Oppure esegui il login!</h4>
			<a href="/login"> Login qui! </a>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img src="/images/logoX.png"></img>
			</a>

		</div>

	</footer>
	<div id="contact-info">
		<p class="contact-text"> Hai qualche problema con il nostro sito? </p>
		<address>
			<a class="contact-text" href="tel:+393359487551">Scrivi al nostro numero dedicato: (+39) 3359487551 ☏</a>
		</address>
		<a class="contact-text" href="">Contattaci via mail</a>
	</div>



</body>

</html>