<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> SiwFood - Login </title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>
	
	<nav class="nav-bar">
		<a href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<h3 style="font-weight: 500; font-size: x-large; display: none;"> SiwFood </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
	
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div th:unless="${userDetails}">
		<h1>Login</h1>
		<form th:action="@{/login}" method="POST">
				<div>
					<span>Username:</span>
					<span><input name="username" type="text" required /></span>
				</div>
				<div>
					<span>Password:</span>
					<span><input name="password" type="password" required /></span>
				</div>
				<div>
					<span th:if="${param.error != null}">Username o password errati</span>
				</div>
				<div>
					<span><button type="submit">Login</button></span>
				</div>
		</form>
		<div>
			<a th:href="@{/register}" th:text="Registrati">Registrati</a>
		</div>
	</div>
</body>

</html>