<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>SiwFood - Homepage</title>
	<link rel="stylesheet" href="/css/IndexStyles.css?v=5.5" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>
	<nav class="nav-bar">
		<a href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<h3 class="siwfood-text"> SiwFood </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	


	<div id="main-div">
		<div class="search-box">
			<h2 class="menus-text"> Cerca una ricetta </h2>
			<form th:action="@{/formSearchRecipes}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Ricette..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchRecipes.png"></img>
			</a>
		</div>
		<div class="search-box" id="search-box2">
			<h2 class="menus-text"> Cerca un cuoco </h2>
			<form th:action="@{/formSearchCooks}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Cuochi..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchCooks.png"></img>
			</a>
		</div>
		<div class="search-box" id="search-box1">
			<h2 class="menus-text"> Cerca un ingrediente </h2>
			<form th:action="@{/formSearchIngredients}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Ingredienti..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchIngredients.png"></img>
			</a>
		</div>
	</div>

	<div id="map">
		<div class="text-map">

			<h1>Vienici a trovare!</h1>
			<p>
				SiwFood è arrivato a Via della Vasca Navale 79 per deliziare il tuo palato con piatti squisiti preparati
				con ingredienti freschi e di stagione.
				Vieni a scoprire un menu ricco di sapori che saprà conquistarti fin dal primo assaggio.<br />
				Cosa aspetti?<br />
				Ti aspettiamo a SiwFood per un pranzo o una cena indimenticabili!<br />
			</p>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1020.7612055854265!2d12.4686253787241!3d41
			.85523823216099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a922b3edaeb%3A0xd7c19908
			33e3ea29!2sIngegneria%20Informatica%20-%20Universit%C3%A0%20Roma%20Tre!5e0!3m2!1sit!2sit!4v171691
			6328047!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</div>

	<footer class="footer">
		<div id="account-form">
			<div id="accountform-text">
				<h3 class="contact-text">Problemi con il sito?</h3>
					<p class="contact-text">
						Puoi contattarci cliccando
						<a href="/formContact" style="color: black;">qui</a>
					</p>
			</div>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img class="socials-img" src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img class="socials-img" src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img class="socials-img" src="/images/logoX.png"></img>
			</a>
		</div>
	</footer>

	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>
</body>

</html>