<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Recipes</title>
	<link rel="stylesheet" href="/css/styles_recipes.css?v=1.8" />
</head>

<body>
	<nav class="nav_bar">
		<div>
			<a href="/">
				<img class="icons_home" src="/images/home.svg"></img>
			</a>
		</div>
		<li>
			<a class="ali" href="/recipes">Recipes</a>
		</li>
		<li>
			<a class="ali" href="/cooks">Cooks</a>
		</li>
		<li>
			<a class="ali" href="/ingredients">Ingredienti</a>
		</li>
		
		<!-- Search Bar start -->
		<div class="search-bar">
			<!-- Search box input start -->
			<div class="search-box">
				<input type="text" id="search-input" placeholder="Cerca qualcosa..." />
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<!-- Search box input ends -->
		</div>
		<!-- Search Bar ends -->
		<div>
			<a href="/login">
				<img class="icons_login" src="/images/account.svg"></img>
			</a>
		</div>
	</nav>

	<h1>Ingredienti</h1>
	<div th:if="${ingredients.isEmpty()}">Non ci sono ingredienti nel sistema</div>

	<div class="container2" th:if="${!ingredients.isEmpty()}">
		<div class="div_princ" th:each="ingredient : ${ingredients}">
			<a th:href="@{'/ingredient' + '/' + ${ingredient.id}}">
				<img class="img" th:src="${ingredient.urlImage}">
			</a>

			<h2 class="text" th:text="${ingredient.name}"></h2>

		</div> <!-- class div_princ -->
	</div> <!-- class container -->
</body>

</html>