<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/styles_recipe.css?v=0.1" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>

	<nav class="nav-bar">
		<a href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<h3 style="font-weight: 500; font-size: x-large; display: none;"> SiwFood </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register"> Registrati</a>
					<a th:unless="${userDetails}" class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<div th:if="${recipe}">
		<h1 th:text="${recipe.name}">Nome ricetta</h1>
		<div>cook:
			<span th:if="${recipe.cook != null}">
				<span th:text="${recipe.cook.name}	+ ' ' + ${recipe.cook.surname}"></span>
			</span>
			<span th:unless="${recipe.cook != null}">Non disponibile</span>
		</div>
		<span>
			<img class="img-recipe" th:if="${recipe.urlImage.startsWith('https')}" th:src="${recipe.urlImage}">
			<img class="img-recipe" th:unless="${recipe.urlImage.startsWith('https')}"
				th:src="@{/images/__${recipe.urlImage}__}">
		</span>
		<strong>Lista degli ingredienti:</strong>
		<ul>
			<div th:each="ingredient: ${recipe.ingredientsUtilizzati}">
				<li>
					<a th:href="@{'/ingredient' + '/' + ${ingredient.id}}" th:text="${ingredient.name} + ':' + ' '">
					</a>
					<div
						th:text="${ingredient.name} + ' ' + ${ingredient.quantityToRecipe[recipe.id]} + ' ' + ${ingredient.unitOfMeasure}">
					</div>
				</li>
			</div>
		</ul>
		<div> Descrizione: </div>
		<span th:text="${recipe.description}"></span>
		<span th:if="${recipe.description == null}"> Non disponibile </span>
	</div>
	<a th:href="@{'/admin/deleteRecipe/' + ${recipe.id}}">(Elimina)</a> 
	
	<div th:unless="${recipe}">Non esiste</div>
	 
	<footer class="footer">
		<div id="account-form">
			<div id="accountform-text">
				<h3>Problemi con il sito?</h4>
					<p id="email-contact">
						Puoi contattarci cliccando
						<a href="/formContact" style="color: black;">qui</a>
					</p>
			</div>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img src="/images/logoX.png"></img>
			</a>
		</div>
	</footer>
	

</body>

</html>