<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Ricette</title>
	<link rel="stylesheet" href="/css/styles_co_re_in.css?v=2.8" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>
	<nav class="nav-bar">
		<a id="home-button" href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<div class="search-bar">
			<div class="search-box">
				<form th:action="@{/formSearchRecipes}" method="post">
					<input id="search-input" type="text" th:value="${name}" name="name"
						placeholder="Cerca un ricetta..." />
				</form>
			</div>
		</div>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<h1>Ricette</h1>
	<div th:if="${recipes.isEmpty()}">Non ci sono ricette nel sistema</div>

	<div class="container">
		<div class="div-princ" th:each="recipe : ${recipes}">

			<a th:href="@{'/recipe' + '/' + ${recipe.id}}">
				<img class="img-recipe" th:if="${recipe.urlImage.startsWith('https')}" th:src="${recipe.urlImage}">
				<img class="img-recipe" th:unless="${recipe.urlImage.startsWith('https')}"
					th:src="@{/images/__${recipe.urlImage}__}">
			</a>

			<h2 class="text" th:text="${recipe.name}"></h2>

			<div class="subtext">Cuoco:
				<span th:if="${recipe.cook != null}">
					<span th:text="${recipe.cook.name}	+ ' ' + ${recipe.cook.surname}"></span></span>
				<span th:unless="${recipe.cook != null}">Non disponibile</span>
			</div>

			<div class="info">
				<div class="div-int">
					<img class="icons" src="/images/clock.svg"></img>
					<p class="icon_info" th:text="${recipe.cookTime} + ' min'"></p>
				</div>
				<div class="div-int">
					<img class="icons" src="/images/plate.svg"></img>
					<p class="icon_info" th:text="${recipe.recipeType}"></p>
				</div>
				<div class="div-int">
					<img class="icons" src="/images/puzzle.svg"></img>
					<p class="icon_info" th:text="${recipe.difficulty}"></p>
				</div>

			</div>
		</div>
	</div>


	<footer class="footer">
		<div id="account-form">
			<div id="accountform-text">
				<h3 class="contact-text">Problemi con il sito?</h4>
					<p class="contact-text">
						Puoi contattarci cliccando
						<a href="/formContact" style="color: black;">qui</a>
					</p>
			</div>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img class="socials-img" src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img class="socials-img" src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socials-fonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img class="socials-img" src="/images/logoX.png"></img>
			</a>
		</div>
	</footer>

	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>

</body>

</html>