<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>SiwFood - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/success_style.css?v=0.1" />
</head>

<body>
	<nav class="nav-bar">
		<li>
			<a href="/">
				<img class="icons_home" src="/images/home.svg"></img>
			</a>
		</li>
		<li>
			<a class="ali" href="/recipes">Ricette</a>
		</li>
		<li>
			<a class="ali" href="/cooks">Cuochi</a>
		</li>
		<li>
			<a class="ali" href="/ingredients">Ingredienti</a>
		</li>
		<li>
			<div class="account-reg-log">
				<a id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
				<a class="reg-log-button" href="/login"> Login </a>
			</div>
		</li>
	</nav>




	<div id="registr-main">
		<h1> Registrazione completata!</h1>
		<br>
		<div class="registr-info">
			<span>Nome: </span>
			<span th:text="${user.name}"></span>
		</div>

		<div class="registr-info">
			<span>Cognome: </span>
			<span th:text="${user.surname}"></span>
		</div>

		<div class="registr-info">
			<span>Email: </span>
			<span th:text="${user.email}"></span>
		</div>
		<br>
		<a id="login-div" href="/login">
			<span> Login </span>
		</a>
	</div>
	
	
	
	<footer class="footer">
		<div id="accountForm">
			<div id="accountform-text">
				<h3>Problemi con il sito?</h4>
				<p>
					Puoi contattarci cliccando 
					<a href="/formContact" style="color: black;" >qui</a>
				</p>
			</div>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su Instagram</p>
			<a href="https://www.instagram.com">
				<img src="/images/logoInstagram.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su Youtube</p>
			<a href="https://www.youtube.com">
				<img src="/images/logoYoutube.png"></img>
			</a>
		</div>
		<div class="socials">
			<p class="socialsFonts">Seguici su X</p>
			<a href="https://www.x.com">
				<img src="/images/logoX.png"></img>
			</a>
		</div>
	</footer>
	
</body>

</html>