html, body{
	height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
	background-color: #fceec9;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
	background-color: #f3c17e;
	box-shadow: 0 2px black;
	position: sticky;
	height: 75px;
	display: flex;
	align-items: center;
	margin-bottom: 2%;
	padding-left: 10%;
}

#home-button {
	margin: 0 80px 0 -50px;
}

.icons_home {
	height: 50px;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.ali {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: larger;
}

.search-bar {
	display: flex;
	align-items: center;
	width: 50vw;
	border-radius: 50px;
	background-color: white;
	border: 1px solid black;
	
}

.search-box {
	display: flex;
	align-items: center;
	padding: 0.3rem 1rem 0.3rem 1rem;
}

#search-input {
	width: 30vw;
}

.search-box input {
	padding: 1rem;
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	border: 0;
	outline: 0;
}

.search-box i {
	font-size: 1.3rem;
	cursor: pointer;
}

.search-box input::placeholder {
	font-size: 1rem;
	font-weight: 500;
}

.account-reg-log {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#reg-button {
	margin-bottom: 0.5rem;
}

.reg-log-button {
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	height: 110%;
	width: 140%;
	border-radius: 1rem;
	background-color: #f8dbb0;
}

.hamburger {
	display: none;
}

.title{
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 6.25rem;
	gap: 2px
}

.div-princ {
	margin: auto;
	background-color: #f8dbb0;
	margin-top: 3.75rem;
	height: 25rem;
	width: 450px;
	border-radius: 50px;
	box-shadow: #74361a 4px 4px 30px;
}

.img-recipe {
	margin: 0.5rem 0 0 0.5rem;
	height: 12rem;
	width: 20rem;
	border-radius: 50px;
	box-shadow: black 1px 1px 5px;
}

.img-ingredient {
	margin: 1.5rem 1.4rem 0 1.4rem;
	height: 12rem;
	width: 20rem;
	border-radius: 50px;
	box-shadow: black 1px 1px 5px;
}

.img-cooks {
	margin: 0.5rem 0.8rem 0 0;
	max-height: 20rem;
	width: 15rem;
	border-radius: 50px;
	box-shadow: black 1px 1px 5px;
}

.text {
	margin: 5px 25px -5px 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.subtext {
	margin: 10px 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
	margin-top: 20px;
	height: 6.25rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.div-int {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 6.25rem;
	width: 6.25rem;
}

.icons {
	height: 50px;
	width: 50px;
}

.icon-info {
	margin-top: 5px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: larger;
}

#div-princ-cooks {
	display: flex;
	justify-content: space-around;
}

#div-princ-ingredients {
	height: 19rem;
	width: 23rem;
}

#div-princ-cooks span{
	font-size: larger;
	font-weight: 700;
	margin: 20px 25px 0 0;
}

.type {
	font-size: larger;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
}

#main-div {
	display: flex;
	flex-direction: row;
}

.div1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	margin-bottom: 300px;
}

.menus-text {
	color: black;
}


.index-photos {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

p {
	font-size: larger;
	text-align: start;
}

.footer {
	margin-top: auto;
	bottom: 0;
	width: 100%;
	height: 12.5rem;
	background-color: #f3c17e;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.socials-fonts {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	font-weight: 600;
}

.socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#account-form {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
}

#accountform-text {
	width: 22rem;
	margin: 35px auto auto 0;
	white-space: wrap;
}


@media(max-width: 768px) {


	.nav-bar {
		min-height: 70px;
		background-color: #f3c17e;
		box-shadow: 0 2px black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
	}

	#home-button {
		margin: 0;
	}

	.ali {
		transition: 0.7s ease;
	}

	.ali:hover {
		color: aliceblue;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: black;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		display: flex;
		position: fixed;
		padding: 0 50px 20px 0;
		right: -35%;
		top: 61px;
		flex-direction: column;
		background-color: #f8dbb0;
		width: 25%;
		transition: 0.3s;
		border-radius: 50px;
	}

	.nav-item {
		margin: 20px auto;
	}

	.nav-menu.active {
		right: -9%;
	}

	.ali {
		text-decoration: none;
		color: black;
	}

	.reg-log-button {
		height: 140%;
		margin: 5px;
		width: 140%;
		background-color: #f3c17e;
	}

	.div-princ {
		height: 380px;
		width: 300px;
		text-align: center;
	}

	.div-int {
		margin-top: 70px;
	}

	.img-recipe {
		height: 150px;
		width: auto;
		margin: 15px auto 0 auto;
	}

	.img-cooks {
		margin: 0.5rem 0.8rem;
		height: auto;
		width: 200px;
	}

	.text {
		text-align: center;
	}

	#nascita{
		display: none;
	}
	
	.info {
		height: 35px;
	}

	.contact-text {
		font-size: medium;
	}

	#accountform-text {
		width: 200px;
		padding-left: 15px;
		margin: auto 0;
	}

	.footer {
		height: 150px;
		gap: 15px;
	}

	.socials {
		width: 100px;
	}

	.socials-fonts {
		text-align: center;
		font-size: small;
	}

	.socials-img {
		width: 60px;
	}
}