body {
	margin: 0;
	background-color: #fceec9;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
	background-color: #f3c17e;
	box-shadow: 0 2px black;
	position: sticky;
	height: 75px;
	display: flex;
  	align-items: center;
  	justify-content: space-evenly;
  	margin-bottom: 2%;
}

.icons_home {
	height: 50px;
}

.ali {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	font-size: larger;
}

.account-reg-log{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.reg-log-button{
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	height: 110%;
	width: 140%;
	border-radius: 1rem;
	background-color: #f8dbb0;
}

#reg-button{
	margin-bottom: 0.5rem;
}

#registr-main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15rem;
}

.registr-info{
	font-size: larger;
	margin: 10px;
}

#login-div{
	background-color:#ed9c4a ;
	height: 3rem;
	width: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	border-radius: 2rem;
}

.footer{
	height: 12.5rem;
	background-color: #f3c17e;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.socials-fonts{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	font-weight: 600;
}

.socials{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#account-form{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
}

#accountform-text{
	width: 22rem;
	margin: 35px auto auto 0;
	white-space: wrap;
}