<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Cooks</title>
	<link rel="stylesheet" href="/css/styles.css?v=0.1" />
</head>

<body>
	<div th:if="${userDetails}">
		<div>
			<div th:text="${userDetails.username}"></div>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<div th:if="${cooks.isEmpty()}">Non ci sono cuochi nel sistema</div>
	<li th:each="cook : ${cooks}">
		<span th:text="${cook.name} + ' ' + ${cook.surname}"></span>
		<a th:href="@{'/admin/setCookToRecipe/' + ${cook.id} + '/' + ${recipe.id}}">(Aggiungi)</a>
	</li>
	
</body>

</html>