<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Nuovo cook</title>
	<link rel="stylesheet" href="/css/styles.css?v=0.1" />
</head>

<body>
	<h1>Aggiungi un new cook!</h1>
	<form th:action="@{/cooks}" method="POST" th:object="${cook}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		<div>
			Nome: <span><input required type="text" th:field="${cook.name}" /></span>
		</div>
		<div>
			Cogname: <span><input required type="text" th:field="${cook.surname}" /></span>
		</div>
		<div>
			Data Di Nascita (dd-MM-yyyy): <span><input required type="date" th:field="${cook.year}" /></span>
		</div>
		<div>
			URL immagine: <span><input type="url" th:field="${cook.urlImage}" /></span>
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>