<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>SiwFood - Homepage Admin</title>
	<link rel="stylesheet" href="/css/IndexStyles.css?v=5.2" />
	<link rel="icon" href="/images/favicon.ico">
</head>

<body>
	<nav class="nav-bar">
		<a href="/">
			<img class="icons_home" src="/images/home.svg"></img>
		</a>
		<h3 class="siwfood-text"> SiwFood </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/recipes">Ricette</a>
			</li> 
			<li class="nav-item">
				<a class="ali" href="/cooks">Cuochi</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/ingredients">Ingredienti</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a th:unless="${userDetails}" class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
	
	
	<div id="main-div">
		<div class="search-box">
			<h2 class="menus-text"> Cerca una ricetta </h2>
			<form th:action="@{/formSearchRecipes}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Ricette..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchRecipes.png"></img>
			</a>
		</div>
		<div class="search-box" id="search-box2">
			<h2 class="menus-text"> Cerca un cuoco </h2>
			<form th:action="@{/formSearchCooks}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Cuochi..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchCooks.png"></img>
			</a>
		</div>
		<div class="search-box" id="search-box1">
			<h2 class="menus-text"> Cerca un ingrediente </h2>
			<form th:action="@{/formSearchIngredients}" method="post">
				<input class="search-bar" type="text" th:value="${name}" name="name" placeholder="Ingredienti..." />
			</form>
			<br>
			<a class="main-div-search">
				<img class="index-photos" src="/images/searchIngredients.png"></img>
			</a>
		</div>
	</div>

	<div id="add-menu" th:if="${userDetails != null}">
		<a class="add-menu-texts"  href="/admin/formNewCook">
			<div class="add-menu-container">
				<span> Aggiungi un cuoco</span>
			</div>
		</a>
		<a class="add-menu-texts" href="/admin/manageCooks">
			<div class="add-menu-container">
				 <span> Gestisci i cuochi</span>
			</div>
		</a>
		<a class="add-menu-texts" href="/admin/formNewRecipe">
			<div class="add-menu-container">
				<span>Aggiungi una ricetta</span>
			</div>
		</a>
		<a class="add-menu-texts" href="/admin/manageRecipes">
			<div class="add-menu-container">
				<span> Gestisci le ricette</span>
			</div>
		</a>
		<a class="add-menu-texts" href="/admin/formNewIngredient">
			<div class="add-menu-container">
				<span> Aggiungi un ingrediente</span>
			</div>
		</a>
		<a class="add-menu-texts" href="/admin/manageIngredient">
			<div class="add-menu-container">
				<span> Gestisci gli ingredienti </span>
			</div>
		</a>
	</div>


	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>

</body>

</html>