<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Recipes</title>
	<link rel="stylesheet" href="/css/styles.css?v=0.1" />
</head>

<body>
	<h1>Recipes</h1>
	<div th:if="${recipes.isEmpty()}">Non ci sono recipes nel sistema</div>
	<ul>
		<li th:each="recipe : ${recipes}">
			<span th:text="${recipe.name}"></span>
			<a th:href="@{'/cookUser/formUpdateRecipes' + '/' + ${recipe.id}}">(Aggiorna)</a>
		</li>
	</ul>
</body>

</html>