<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>SiwFood - Homepage</title>
	<link rel="stylesheet" href="/css/styles.css?v=1.0" />
</head>

<body>
	<nav class="nav_bar">
		<div>
			<a href="/">
				<img class="icons_home" src="/images/home.svg"></img>
			</a>
		</div>
		<li>
			<a class="ali" href="/recipes">Recipes</a>
		</li>
		<li>
			<a class="ali" href="/cooks">Cooks</a>
		</li>
		<li>
			<a class="ali" href="/ingredients">Ingredienti</a>
		</li>

		<!-- Search Bar start -->
		<div class="search-bar">

			<!-- Search box input start -->
			<div class="search-box">
				<input type="text" id="search-input" placeholder="Cerca qualcosa..." />
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<!-- Search box input ends -->
		</div>
		<!-- Search Bar ends -->
		<div>
			<a href="/login">
				<img class="icons_login" src="/images/account.svg"></img>
			</a>
		</div>

	</nav>
	<div>
		<br>
		<a href="/formSearchRecipes"> Cerca ricetta per nome</a>
		<br>
		<a href="/formSearchCooks"> Cerca cuoco per nome</a>
		<br>
		<div th:if="${userDetails != null}">			
			<a th:href="@{'/cookUser/formNewRecipe' + '/' + ${userDetails.username}}">Aggiungi una ricetta</a>
		</div>
		<br>
		<a href="/cookUser/formNewIngredient">Aggiungi un igrediente</a>
		<br>
		<a href="/cookUser/manageRecipes">Gestisci le tue ricette</a>
		<br>
	</div>

</body>

</html>